.topicos{
    background: var(--azulTexto);
    text-align: center;
    padding: 1em;
}
.topicos__titulo{
    color: var(--whiteHeader);
    font-weight: 300;
    margin-bottom: 1em;

}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista__item{
    margin: 2em 0.5em;
}

.lista__link{
    background: var(--tituloMenu);
    padding: 1em;
    color: var(--whiteHeader);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.lista__link:active{
    background-color:rgb(211, 223, 51);
    transition: 200ms;
}